/* This file is for your main application CSS */
@import "./phoenix.css";
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

/* Overall page layout */
body {
  font-family: 'Short Stack', cursive;
}

.game-holder {
  max-height: 70%;
  margin-top: 5%;
  display: flex;
  flex-flow: row wrap;
  gap: 10%;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.game-holder .figure {
  flex-basis: 40%;
  min-width: 400px;

}

.game-holder .letter-stuff {
  flex-basis: 40%;
  display: flex;
  flex-flow: column;
}

.one-letter {
  color: grey;
}

.one-letter.correct {
  color: green;
}

.one-letter.wrong {
  color: red;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3em 0.4em;
  font-size: 150%;
  margin-bottom: 10%;
}

.letters .one-letter {
  width: 1em;
  font-size: 300%;
  display: inline-block;
}

.ls-won .one-letter,
.ls-lost .one-letter {
  display: inline;
}

.hide-component {
  opacity: 0.1;
}

svg path {
  transition: opacity 0.5s;
}